<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Bouygues-Telecom</title>

		{% block stylesheets %}
			<link
			rel="stylesheet" href="{{asset ("assets/css/plugins/fontawesome-free/css/all.min.css")}}">
			<!-- Theme style -->
			<link
			rel="stylesheet" href="{{asset ("assets/css/adminlte.css")}}">
		<!-- -->
		{% endblock %}

	</head>
	{% block body %}

	{# {% extends 'base.html.twig' %}

{% block title %}Log in!{% endblock %}

{% block body %}
<form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}

    {% if app.user %}
        <div class="mb-3">
            You are logged in as {{ app.user.username }}, <a href="{{ path('app_logout') }}">Logout</a>
        </div>
    {% endif %}
    #}
		<body class="hold-transition login-page">
			<div
				class="login-box">
				<!-- /.login-logo -->
				<div class="card card-outline card-primary">
					<div class="card-header text-center">
						<img src="assets/img/Bouygues_Télécom.png">
					</div>
					<form method="post">
						<div class="card-body">
							<p class="login-box-msg">Connectez-vous pour démarrer votre session</p>
							<div class="input-group mb-3">
								<input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" placeholder="E-mail" required autofocus>
								<div class="input-group-append">
									<div class="input-group-text">
										<span class="fas fa-envelope"></span>
									</div>
								</div>
							</div>

							<div class="input-group mb-3">
								<input type="password" class="form-control" name="password" id="inputPassword" placeholder="Mot de passe" required>
								<div class="input-group-append">
									<div class="input-group-text">
										<span class="fas fa-lock"></span>
									</div>
								</div>
							</div>

							<input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
							<div class="row">
								<div class="col-8">
									<div class="icheck-primary">
										<input type="checkbox" name="_remember_me">
										<label for="remember">
											&nbsp;Se Souvenir de moi
										</label>
									</div>
								</div>
								<div class="col-4">
									<button type="submit" class="btn btn-primary btn-block">S'identifier</button>
								</div>
								<!-- /.col -->
							</div>
						</form>
					</div>
					<!-- /.card-body -->
				</div>
				<!-- /.card -->
			</div>
			<!-- /.login-box -->

		{% endblock %}

		{% block javascripts %}

			<script src="{{asset ("assets/js/bootstrap.js")}}"></script>
			<script src="{{asset ("assets/js/jquery.js")}}"></script>

		{% endblock %}
	</body>
</html>
