{% extends 'header.html.twig' %}
{% block javascripts %}
	<!-- jQuery -->
	<script src="{{asset ("assets/plugins/jquery/jquery.min.js")}}"></script>
	<!-- Bootstrap 4 -->
	<script src="{{asset ("assets/plugins/bootstrap/js/bootstrap.bundle.min.js")}}"></script>
	<!-- script page -->
	<script src="{{asset ("assets/js/AdminLTE.js")}}"></script>
	<!-- AdminLTE for demo purposes -->
	<script src="{{asset ("assets/js/demo.js")}}"></script>
	<!-- select 2 -->
	<script src="{{asset ("assets/plugins/select2/js/select2.full.min.js")}}"></script>
	<!-- overlayScrollbars -->
	<script src="{{asset ("assets/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js")}}"></script>

	<!-- Imputation -->
	<script src="{{asset ("assets/js/suivImputation.js")}}"></script>
	<!-- datatable -->
	<script src="{{asset ("/assets/js/datatable/jquery.dataTable.min.js")}}"></script>

	<link rel="stylesheet" href="{{asset ("/assets/css/datatable/buttons.bootstrap4.min.css")}}">
	<link rel="stylesheet" href="{{asset ("/assets/css/datatable/dataTables.bootstrap4.min.css")}}">
	<link rel="stylesheet" href="{{asset ("/assets/css/datatable/responsive.bootstrap4.min.css")}}">

	<script src="{{asset ("/assets/js/datatable/buttons.colVis.min.js")}}"></script>
	<script src="{{asset ("/assets/js/datatable/buttons.print.min.js")}}"></script>
	<script src="{{asset ("/assets/js/datatable/dataTables.bootstrap4.min.js")}}"></script>
	<script src="{{asset ("/assets/js/datatable/dataTables.buttons.min.js")}}"></script>
	<script src="{{asset ("/assets/js/datatable/dataTables.responsive.min.js")}}"></script>
	<script src="{{asset ("/assets/js/datatable/jszip.min.js")}}"></script>
	<script src="{{asset ("/assets/js/datatable/pdfmake.min.js")}}"></script>
	<script src="{{asset ("/assets/js/datatable/responsive.bootstrap4.min.js")}}"></script>
	<script src="{{asset ("/assets/js/datatable/vfs_fonts.js")}}"></script>

	<!-- SweetAlert2 -->
	<script src="{{asset ("/assets/plugins/sweetalert2/sweetalert2.min.js")}}"></script>
	<!-- TOAST -->
	<script src="{{asset ("/assets/plugins/toastr/toastr.min.js")}}"></script>
	<script>
		$(function () {
$("#example1").DataTable({"responsive": true, "lengthChange": true, "autoWidth": false}).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
});
	</script>
{% endblock %}
{% block body %}
	<!-- Content Wrapper. Contains page content -->
	<div
		class="content-wrapper">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0">
							Suivi Imputation
						</h1>
					</div>
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</div>
		<!-- /.content-header -->

		<!-- Main content -->
		<div class="col-lg-12">

			<div class="card card-primary card-outline cardT">
				<div class="card-header">
					<div class="rowT">

						<div class="col-sm-3">

							<div class="input-group">
								<input type="week" id="date-suivi" value={{thisweek}} class="form-control" name="month"/>
							</div>
						</div>
						<div class="col-sm-2">
							<button type="button" id="btnRecherche" class="btn btn-block btn-info">Rechercher</button>
						</div>


					</div>

				</div>


				<div class="card">

					<div class="card-body p-0 table-responsive">
						<div class="card-body" id="suividiv"></div>
					</div>


				</div>
			</div>
			<!-- /.content -->
		</div><!-- /.content-wrapper --><!-- Main Footer -->
{% endblock %}
