{{ form_start(form) }}
<section
	class="content">
	<!--{{ dump() }}-->
	<style>
		.row {
			display: flex;
		}
		.col {
			flex: 1;
		}
	</style>
	<div class="container-fluid">
		<div
			class="row">
			<!-- left column -->
			<div
				class="col-md-12">
				<!-- general form elements -->
				<div class="card card-primary">


					<!-- /.card-header -->
					<!-- form start -->
						<form>
							<div class="card-body"> <div class="form-group">
								<label for="{{form.user.vars.id}}">Collaborateur</label>
								{{form_widget( form.user)}}
								{% do form.user.setRendered %}
							</div>
							<div class="form-group">
								<label for="{{form.codeprojet.vars.id}}">Code du projet</label>
								{{form_widget( form.codeprojet)}}
								{% do form.codeprojet.setRendered %}
							</div>
							<div class="row">
								<div class="col">
									<label for="{{form.dateD.vars.id}}">Date de debut</label>
									{{form_widget( form.dateD)}}
									{% do form.dateD.setRendered %}</div>
								<div class="col">
									<label for="{{form.dateF.vars.id}}">Date de fin</label>
									{{form_widget( form.dateF)}}
									{% do form.dateF.setRendered %}</div>
							</div>
							<div class="form-group">
								<label for="{{form.commentaire.vars.id}}">Commentaire</label>
								{{form_widget( form.commentaire)}}
								{{form_errors(form.commentaire)}}
								{% do form.commentaire.setRendered %}
							</div>
						</div>
						<!-- /.card-body -->
						<div class=" card-footer">
							<button type="submit" class="btn btn-success swalDefaultSuccess">{{ button_label|default('Ajouter') }}</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	{{ form_end(form) }}
