{% extends 'header.html.twig' %}
{% block body %}
	<div
		class="content-wrapper">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0" style="font-size:19px">Liste des projets</h1>
					</div>
					<div class="col-sm-6">
						{% if is_granted('ROLE_ADMIN') %}
						<a class="btn btn-primary" style="float: right;" href="{{ path('projet_new') }}">Ajouter un nouveau projet</a>
							{% endif %}
					</div>
				</div>
			</div>
			<!-- /.container-fluid -->
		</section>
		<section
			class="content">

			<!-- Default box -->
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">Projets</h3>

					<div class="card-tools">
						<button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
							<i class="fas fa-minus"></i>
						</button>
						<button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
							<i class="fas fa-times"></i>
						</button>
					</div>

				</div>
				<div class="card-body p-0">
					<table class="table table-striped projects">
						<thead>
							<tr>
								<th>
									#
								</th>
								<th>
									Nom du projet
								</th>
								<th>
									Description
								</th>
								<th>
									Code projet
								</th>
								<th>
									Statut
								</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for projet in projets %}
								<tr>
									<td>
										#
									</td>
									<td>

										{{ projet.libelle }}

									</td>
									<td>
										{{ projet.description }}
									</td>
									<td>
										<a href="{{ path('code_projet_index') }}">Code projet
											{{ projet.libelle }}</a>

									</td>
									{% if projet.statut == 'yes' %}
										<td>
											<span class="badge badge-success">En cours</span>
										</td>
									{% else %}
										<td>
											<span class="badge badge-danger">Terminé</span>
										</td>
									{% endif %}

									<td>
										{% if is_granted('ROLE_ADMIN') %}
											<a class="btn btn-info btn-sm" href="{{ path('projet_edit', {'id': projet.id}) }}">
												<i class="fas fa-pencil-alt"></i>
											</a>
											<a class="btn">
												{{ include('projet/_delete_form.html.twig') }}
											</a>
										{% endif %}
									</td>

								</tr>
							{% endfor %}

						</tbody>
					</table>
				</div>
				<!-- /.card-body -->
			</div>
			<!-- /.card -->
		</section>
		<!-- /.content -->
	</div>
{% endblock %}
