{% extends 'header.html.twig' %}
{% block body %}
	<div
		class="content-wrapper">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0" style="font-size:19px">Liste des code projets</h1>
					</div>
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item">
								<a href="/index">Accueil</a>
							</li>
							<li class="breadcrumb-item">
								<a href="/projet">Projet</a>
							</li>
							<li class="breadcrumb-item active">Code Projets</li>
						</ol>
					</div>
				</div>
			</div>
			<!-- /.container-fluid -->
		</section>
		<table class="table">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ projet.id }}</td>
				</tr>
				<tr>
					<th>Libelle</th>
					<td>{{ projet.libelle }}</td>
				</tr>
				<tr>
					<th>Description</th>
					<td>{{ projet.description }}</td>
				</tr>
				<tr>
					<th>Statut</th>
					<td>{{ projet.statut ? 'Yes' : 'No' }}</td>
				</tr>
			</tbody>
		</table>
		{% set condition = true %}
		<table class="table">
			{% for code_projet in code_projets %}

				{% if (condition)  and ( projet.id == code_projet.projet.id ) %}
					<thead>
						<tr>
							<th>Projet</th>
							<th>Libelle</th>
							<th>Description</th>
							<th>Statut</th>
							<th>Budget</th>
							<th>DateD</th>
							<th>DateF</th>
							<th>actions</th>
						</tr>
						{% set condition = false %}
					</thead>
				{% endif %}
				<tbody>
					{% if projet.id == code_projet.projet.id %}
						<tr>
							<td>{{ code_projet.projet.libelle }}</td>
							<td>{{ code_projet.libelle }}</td>
							<td>{{ code_projet.description }}</td>
							<td>{{ code_projet.statut ? 'Yes' : 'No' }}</td>
							<td>{{ code_projet.budget }}</td>
							<td>{{ code_projet.dateD ? code_projet.dateD|date('Y-m-d') : '' }}</td>
							<td>{{ code_projet.DateF ? code_projet.DateF|date('Y-m-d') : '' }}</td>
							<td>
								<a href="{{ path('code_projet_show', {'id': code_projet.id}) }}">show</a>
								<a href="{{ path('code_projet_edit', {'id': code_projet.id}) }}">edit</a>
							</td>
						</tr>
					{% endif %}
				{% else %}
					<tr>
						<td colspan="8">no records found</td>
					</tr>
				</tbody>
			{% endfor %}
		</table>
	</div>
{% endblock %}
