{% extends 'header.html.twig' %}
{% block body %}
	<div
		class="content-wrapper">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0" style="font-size:19px">Liste des code projets</h1>
					</div>
						<div class="col-sm-6">
						{% if is_granted('ROLE_ADMIN') %}
						<a class="btn btn-default" style="float:right;" href="{{ path('taches_index') }}">Consulter les tâches</a>
							{% endif %}
					</div>
					
				</div>
			</div>
			<!-- /.container-fluid -->
		</section>
		<!-- Main content -->
		<section
			class="content">
			<!-- Default box -->
			<div
				class="card">
				<!-- /.card-header -->
				<div class="card-body">

					{% if is_granted('ROLE_ADMIN') %}
					
						<div>
						<a class="btn btn-primary" style="float:right;" href="{{ path('code_projet_new') }}">Ajouter un nouveau code projet</a>
							
		
	</div>
					{% endif %}
					<table id="example1" class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>N°</th>
								<th>Code</th>
								<th>Description</th>
								<th>Statut</th>
								<th>Budget</th>
								<th>Charges</th>
								<th>Date</th>
								{% if is_granted('ROLE_ADMIN') %}
									<th>Actions</th>
								{% endif %}
							</tr>
						</thead>
						<tbody>
							<!-- DEBUT de la boucle du Data table-->
							{% for code_projet in code_projets %}
								<!-- DEBUT condition sur les code projet relatif au meme projet-->

								<tr>
									<td>
										{% set number = ( number | default(0) ) + 1 %}
										<p>{{ number }}
										</p>
									</td>
									<td>
										{{ code_projet.libelle }}
									</td>
									<td>
										{{ code_projet.description }}

									</td>
									{% if code_projet.statut == 'yes' %}
										<td class="project-state">
											<span class="badge badge-success">En cours</span>
										</td>
									{% else %}
										<td class="project-state">
											<span class="badge badge-danger">Terminé</span>
										</td>
									{% endif %}
									<td>
										<!-- DEBUT convertisseur date a jour-->
										{% set difference = date(code_projet.DateF).diff(date(code_projet.dateD)) %}
										{% set jourTotal = difference.days %}
										{% set difference1 = date(code_projet.DateF).diff(date("now"|date("Y-m-d"))) %}
										{% set jourRestant = difference1.days %}
										{% set budg = (jourRestant*code_projet.budget) / jourTotal %}
										{% if date("now"|date("Y-m-d")) > code_projet.DateF %}
											{% set budg = 0 %}
										{% endif %}
										{{ code_projet.budget|number_format(0) }}
										€ au total
										<div>

											<span class="float-left badge bg-info">{{budg|number_format(0)}}
												€ restant</span>
										</div>
									</td>
									<td>
										{{ code_projet.chageJH|number_format(0) }}
										J/H

									</td>
									<td>
										Du
										{{ code_projet.dateD ? code_projet.dateD|date('Y-m-d') : '' }}
										au
										{{ code_projet.DateF ? code_projet.DateF|date('Y-m-d') : '' }}
										{% if date("now"|date("Y-m-d")) > code_projet.DateF %}
											{% set troi = 100 %}
											{% set jourRestant = 0 %}
										{% else %}
											{% set troi = (jourRestant*100)/jourTotal %}
											{% set troi = 100 - troi %}
										{% endif %}
										<!-- FIN convertisseur date a jour-->
										<div class="progress progress-sm">
											<div class="progress-bar bg-green" role="progressbar" aria-valuenow="{{ troi }}" aria-valuemin="0" aria-valuemax="100" style="width: {{ troi }}%"></div>
										</div>
										<small>
											{{jourRestant}}
											jours restant
										</small>
									</td>
									{% if is_granted('ROLE_ADMIN') %}
										<td class="project-actions text-right">
											<a class="btn btn-info btn-sm" href="{{ path('code_projet_edit', {'id': code_projet.id}) }}">
												<i class="fas fa-pencil-alt"></i>

											</a>
											<a class="btn">
												{{ include('code_projet/_delete_form.html.twig') }}
											</a>
										</td>
									{% endif %}
								</tr>

								<!-- FIN condition sur les code projet relatif au meme projet-->
						{% else %}
							</td>
						</tbody>
					</tr>
					<tr>
						<td colspan="6">Aucun code projet trouvé</td>
					</tr>
				{% endfor %}
				<!-- FIN de la boucle du Data table-->
			</tbody>
		</table>

	</div>
	<!-- /.card-body -->
</div></div><!-- /.card-body --></div><!-- /.card --></section></div>{% endblock %}
