{{ form_start(form) }}
<!-- Main content -->
<section class="content">
	<div class="container-fluid">
		<div class="row">
			<!-- left column -->
			<div class="col-md-12">
				<!-- general form elements -->
				<div class="card card-primary">
					<!-- /.card-header -->
					<!-- form start -->
					<form>
						<div class="card-body"> 
							<div class="form-group">
								<label for="{{form.libelle.vars.id}}">Jira n°</label>
								{{form_widget( form.libelle)}}
								{{form_errors(form.libelle)}}
								{% do form.libelle.setRendered %}
							</div>
							<div class="form-group">
								<label for="{{form.description.vars.id}}">Description</label>
								{{form_widget( form.description)}}
								{% do form.description.setRendered %}
							</div>
							<div class="form-group">
								<label for="{{form.codeprojet.vars.id}}">Code Projet</label>
								{{form_widget( form.codeprojet)}}
								{% do form.codeprojet.setRendered %}
							</div>
							<div class="form-group">
								<label for="{{form.domaine.vars.id}}">Domaine</label>
								{{form_widget( form.domaine)}}
								{% do form.domaine.setRendered %}
							</div>
							<div class="form-group">
								{{form_widget( form.statut)}}
								{% do form.statut.setRendered %}
							</div>
						</div>
						<!-- /.card-body -->
						<div class=" card-footer">
							<button type="submit" class="btn btn-success swalDefaultSuccess">{{ button_label|default('Ajouter') }}</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</section>
{{ form_end(form) }}
