<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title>
			{% block title %}Welcome!
			{% endblock %}
		</title>
		{# Run `composer require symfony/webpack-encore-bundle`
										           and uncomment the following Encore helpers to start using Symfony UX #}
		{% block stylesheets %}
			<link rel="stylesheet" href="{{asset ("assets/css/fontawesome-free/css/headerCSS.css")}}">
			<link rel="stylesheet" href="{{asset ("assets/css/starterCSS.css")}}">

		{% endblock %}

		{% block javascripts %}
			<script src="{{asset ("assets/js/admin.js")}}"></script>
			<script src="{{asset ("assets/js/bootstrap.js")}}"></script>
			<script src="{{asset ("assets/js/jquery.js")}}"></script>
		{% endblock %}
	</head>
	<body>
		{% block body %}{% endblock %}
	</body>
</html>
