{% extends 'header.html.twig' %}
{% block javascripts %}
	<!-- jQuery -->
	<script src="{{asset ("assets/plugins/jquery/jquery.min.js")}}"></script>
	<!-- Filterizr-->
	<script src="{{asset ("assets/plugins/filterizr/jquery.filterizr.min.js")}}"></script>
	<!-- Bootstrap 4 -->
	<script src="{{asset ("assets/plugins/bootstrap/js/bootstrap.js")}}"></script>
	<!-- overlayScrollbars -->
	<script src="{{asset ("assets/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js")}}"></script>
	<script src="{{asset ("assets/js/AdminLTE.js")}}"></script>
	<!-- OPTIONAL SCRIPTS -->
	<script src="{{asset ("assets/plugins/chart.js/Chart.min.js")}}"></script>
	<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
	<script src="{{asset ("assets/js/pages/dashboard3.js")}}"></script>
	<!-- Page specific script -->
	<script>
		$(function () {
$(document).on('click', '[data-toggle="lightbox"]', function (event) {
event.preventDefault();
$(this).ekkoLightbox({alwaysShowClose: true});
});

$('.filter-container').filterizr({gutterPixels: 3});
$('.btn[data-filter]').on('click', function () {
$('.btn[data-filter]').removeClass('active');
$(this).addClass('active');
});
})
	</script>
{% endblock %}
{% block body %}
	<!-- Content Wrapper. Contains page content -->
	<div
		class="content-wrapper">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0">
							Contactez-nous
						</h1>
					</div>
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</div>
		<!-- /.content-header -->

		<!-- Main content -->
		<div class="content">
			<div
				class="container-fluid">
				<!-- Default box -->
				<div class="card">
					<div class="card-body row">
						<div class="col-5 text-center d-flex align-items-center justify-content-center">
							<div class="">
								<h2 style="margin-left: -13px;color: #0477ad;">Bouygues<strong>Telecom</strong>
								</h2>
								<p class="lead mb-5" style="font-family: Brush Script MT;">Nous sommes là pour vous !<br>

								</p>
							</div>
						</div>
						<div class="col-7">
							<div class="form-group">
								<label for="inputName">Nom Complet</label>
								<input type="text" id="inputName" class="form-control"/>
							</div>
							<div class="form-group">
								<label for="inputEmail">Adresse E-Mail</label>
								<input type="email" id="inputEmail" class="form-control"/>
							</div>
							<div class="form-group">
								<label for="inputSubject">Sujet</label>
								<input type="text" id="inputSubject" class="form-control"/>
							</div>
							<div class="form-group">
								<label for="inputMessage">Message</label>
								<textarea id="inputMessage" class="form-control" rows="4"></textarea>
							</div>
							<div class="form-group">
								<input type="submit" class="btn btn-primary" value="Envoyer" style="background: #ec5b00;
																								    border-color: #ec5b00;
																								    float: right;">
							</div>
						</div>
					</div>
				</div>

			</div>
			<!-- /.container-fluid -->
		</div>
		<!-- /.content -->
		<div class="col-12">
			<div class="card card-primary">
				<div class="card-header">
					<h4 class="card-title">FilterizR Gallery with Ekko Lightbox</h4>
				</div>
				<div class="card-body">
					<div>
						<div class="btn-group w-100 mb-2">
							<a class="btn btn-info active" href="javascript:void(0)" data-filter="all">
								All items
							</a>
							<a class="btn btn-info" href="javascript:void(0)" data-filter="1">
								Category 1 (WHITE)
							</a>
							<a class="btn btn-info" href="javascript:void(0)" data-filter="2">
								Category 2 (BLACK)
							</a>
							<a class="btn btn-info" href="javascript:void(0)" data-filter="3">
								Category 3 (COLORED)
							</a>
							<a class="btn btn-info" href="javascript:void(0)" data-filter="4">
								Category 4 (COLORED, BLACK)
							</a>
						</div>
						<div class="mb-2">
							<a class="btn btn-secondary" href="javascript:void(0)" data-shuffle>
								Shuffle items
							</a>
							<div class="float-right">
								<select class="custom-select" style="width: auto;" data-sortorder>
									<option value="index">
										Sort by Position
									</option>
									<option value="sortData">
										Sort by Custom Data
									</option>
								</select>
								<div class="btn-group">
									<a class="btn btn-default" href="javascript:void(0)" data-sortasc>
										Ascending
									</a>
									<a class="btn btn-default" href="javascript:void(0)" data-sortdesc>
										Descending
									</a>
								</div>
							</div>
						</div>
					</div>
					<div>
						<div class="filter-container p-0 row">
							<div class="filtr-item col-sm-2" data-category="1" data-sort="white sample">
								<a href="https://via.placeholder.com/1200/FFFFFF.png?text=1" data-toggle="lightbox" data-title="sample 1 - white">
									<img src="https://via.placeholder.com/300/FFFFFF?text=1" class="img-fluid mb-2" alt="white sample"/>
								</a>
							</div>
							<div class="filtr-item col-sm-2" data-category="2, 4" data-sort="black sample">
								<a href="https://via.placeholder.com/1200/000000.png?text=2" data-toggle="lightbox" data-title="sample 2 - black">
									<img src="https://via.placeholder.com/300/000000?text=2" class="img-fluid mb-2" alt="black sample"/>
								</a>
							</div>
							<div class="filtr-item col-sm-2" data-category="3, 4" data-sort="red sample">
								<a href="https://via.placeholder.com/1200/FF0000/FFFFFF.png?text=3" data-toggle="lightbox" data-title="sample 3 - red">
									<img src="https://via.placeholder.com/300/FF0000/FFFFFF?text=3" class="img-fluid mb-2" alt="red sample"/>
								</a>
							</div>
							<div class="filtr-item col-sm-2" data-category="3, 4" data-sort="red sample">
								<a href="https://via.placeholder.com/1200/FF0000/FFFFFF.png?text=4" data-toggle="lightbox" data-title="sample 4 - red">
									<img src="https://via.placeholder.com/300/FF0000/FFFFFF?text=4" class="img-fluid mb-2" alt="red sample"/>
								</a>
							</div>
							<div class="filtr-item col-sm-2" data-category="2, 4" data-sort="black sample">
								<a href="https://via.placeholder.com/1200/000000.png?text=5" data-toggle="lightbox" data-title="sample 5 - black">
									<img src="https://via.placeholder.com/300/000000?text=5" class="img-fluid mb-2" alt="black sample"/>
								</a>
							</div>
							<div class="filtr-item col-sm-2" data-category="1" data-sort="white sample">
								<a href="https://via.placeholder.com/1200/FFFFFF.png?text=6" data-toggle="lightbox" data-title="sample 6 - white">
									<img src="https://via.placeholder.com/300/FFFFFF?text=6" class="img-fluid mb-2" alt="white sample"/>
								</a>
							</div>
							<div class="filtr-item col-sm-2" data-category="1" data-sort="white sample">
								<a href="https://via.placeholder.com/1200/FFFFFF.png?text=7" data-toggle="lightbox" data-title="sample 7 - white">
									<img src="https://via.placeholder.com/300/FFFFFF?text=7" class="img-fluid mb-2" alt="white sample"/>
								</a>
							</div>
							<div class="filtr-item col-sm-2" data-category="2, 4" data-sort="black sample">
								<a href="https://via.placeholder.com/1200/000000.png?text=8" data-toggle="lightbox" data-title="sample 8 - black">
									<img src="https://via.placeholder.com/300/000000?text=8" class="img-fluid mb-2" alt="black sample"/>
								</a>
							</div>
							<div class="filtr-item col-sm-2" data-category="3, 4" data-sort="red sample">
								<a href="https://via.placeholder.com/1200/FF0000/FFFFFF.png?text=9" data-toggle="lightbox" data-title="sample 9 - red">
									<img src="https://via.placeholder.com/300/FF0000/FFFFFF?text=9" class="img-fluid mb-2" alt="red sample"/>
								</a>
							</div>
							<div class="filtr-item col-sm-2" data-category="1" data-sort="white sample">
								<a href="https://via.placeholder.com/1200/FFFFFF.png?text=10" data-toggle="lightbox" data-title="sample 10 - white">
									<img src="https://via.placeholder.com/300/FFFFFF?text=10" class="img-fluid mb-2" alt="white sample"/>
								</a>
							</div>
							<div class="filtr-item col-sm-2" data-category="1" data-sort="white sample">
								<a href="https://via.placeholder.com/1200/FFFFFF.png?text=11" data-toggle="lightbox" data-title="sample 11 - white">
									<img src="https://via.placeholder.com/300/FFFFFF?text=11" class="img-fluid mb-2" alt="white sample"/>
								</a>
							</div>
							<div class="filtr-item col-sm-2" data-category="2, 4" data-sort="black sample">
								<a href="https://via.placeholder.com/1200/000000.png?text=12" data-toggle="lightbox" data-title="sample 12 - black">
									<img src="https://via.placeholder.com/300/000000?text=12" class="img-fluid mb-2" alt="black sample"/>
								</a>
							</div>
						</div>
					</div>

				</div>
			</div>
		</div>
	</div>
	<!-- /.content-wrapper -->
	<!-- Main Footer -->
	<footer
		class="main-footer">
		<!-- Default to the left -->
		Copyright &copy;
		<strong>Bouygues Telecom</strong>
		| Tous les droits sont réservés.
	</footer>
{% endblock %}
