<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title>Bouygues Telecom</title>

		{% block stylesheets %}

			<!-- fav icon for website -->
			<link
			rel="icon" type="image/png" href="{{asset ("assets/img/Bouygues_Télécom.gif")}}">
			<!-- css header -->
			<link
			rel="stylesheet" href="{{asset ("assets/plugins/fontawesome-free/css/all.css")}}">
			<!-- overlayScrollbars -->
			<link
			rel="stylesheet" href="{{asset ("assets/plugins/overlayScrollbars/css/OverlayScrollbars.min.css")}}">
			<!-- css starter page -->
			<link
			rel="stylesheet" href="{{asset ("assets/css/styles.css")}}">
			<!-- css calendar -->
			<link
			rel="stylesheet" href="{{asset ("assets/css/calendar.css")}}">
			<!-- Ionicons -->
			<link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">

			<style>
				#calendrier {
					width: 80%;
					margin: auto;
				}
			</style>

		{% endblock %}
	</head>
	<body class="hold-transition sidebar-mini layout-fixed layout-navbar-fixed">
		<div
			class="wrapper">

			<!-- Navbar -->
			<nav
				class="main-header navbar navbar-expand navbar-white navbar-light">
				<!-- Left navbar links -->
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" data-widget="pushmenu" href="#" role="button">
							<i class="fas fa-bars"></i>
						</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-widget="navbar-search" href="" role="button">
							<div class="navbar-search-block">
								<form class="form-inline">
									<div class="input-group input-group-sm">
										<input class="form-control form-control-navbar" type="Rechercher" placeholder="Rechercher" aria-label="Rechercher">
										<div class="input-group-append">
											<button class="btn btn-navbar" type="submit">
												<i class="fas fa-search"></i>
											</button>

										</div>
									</div>
								</form>
							</div>
						</a>

					</li>
				</ul>

				<!-- Right navbar links -->
				<ul class="navbar-nav ml-auto">
					<!-- Navbar Search -->


					<!-- Messages Dropdown Menu -->
						<li class="nav-item dropdown"> <a class="nav-link" data-toggle="dropdown" href="#">
							<i class="far fa-comments"></i>
							<span class="badge badge-danger navbar-badge"></span>
						</a>
						<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
							<div class="dropdown-divider"></div>
							<a href="#" class="dropdown-item dropdown-footer">Voir tous les messages</a>
						</div>
					</li>
					<!-- Notifications Dropdown Menu -->
					<li class="nav-item dropdown">
						<a class="nav-link" data-toggle="dropdown" href="#">
							<i class="far fa-bell"></i>
							<span class="badge badge-warning navbar-badge"></span>
						</a>
						<div class="dropdown-menu dropdown-menu-lg dropdown-menu-right">
							<div class="dropdown-divider"></div>
							<a href="#" class="dropdown-item dropdown-footer">Voir toutes les notifications</a>
						</div>
					</li>
					<li class="nav-item">
						<a class="nav-link" data-widget="fullscreen" href="#" role="button">
							<i class="fas fa-expand-arrows-alt"></i>
						</a>
					</li>
					<div class="user-panel-icon-navbar">
						<a class="nav-link">
							<img src="{{asset ('/uploads/' ~ app.user.image.name)}}" class="img-circle-navbar" alt="Image" width="30">
						</a>

					</div>
					<li class="nav-item dropdown">
						<a id="dropdownSubMenu1" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" class="nav-link dropdown-toggle">{{ app.user.username }}</a>

						<ul aria-labelledby="dropdownSubMenu1" class="dropdown-menu">
							<li class="nav-item">
								<a class="nav-link" href="">
									<i class="fa fa-user" aria-hidden="true"></i>
									&nbsp;Profil
								</a>

							</li>
							<li class="nav-item">
								<a class="nav-link" href="">
									<i class="fa fa-envelope" aria-hidden="true"></i>
									&nbsp;Messages
								</a>

							</li>
							<li class="dropdown-divider"></li>

							<li class="nav-item">
								<a class="nav-link" href="{{ path('app_logout') }}">
									<i class="fa fa-power-off" aria-hidden="true"></i>
									&nbsp;Déconnexion
								</a>

							</li>
							<!-- End Level two -->
						</ul>
					</li>
				</ul>
			</nav>
			<!-- /.navbar -->

			<!-- Main Sidebar Container -->
			<aside
				class="main-sidebar sidebar-dark-primary elevation-4">
				<!-- Brand Logo -->
				<a href="/index" class="brand-link">
					<img src="{{asset ("assets/img/bouygues_Télécom.gif")}}" alt="Bouygues Telecom" class="brand-image img-circle elevation-3">
					<span class="brand-text">Bouygues Telecom</span>
				</a>

				<!-- Sidebar -->
				<div
					class="sidebar">
					<!-- Sidebar user panel (optional) -->
					<div class="user-panel mt-3 pb-3 mb-3 d-flex">
						<div class="user-panel-icon">
							<a class="nav-link">
								<img src="{{asset ('/uploads/' ~ app.user.image.name)}}" class="img-circle elevation-2" alt="Image" width="30">
							</a>

						</div>
						<div class="info">
							<a href="" class="d-block">{{ app.user.username }}</a>
							<a href="" class="d-block">
								{% if app.user.roles  == ["ROLE_USER"]%}
									Utilisateur
								{% else %}
									Administrateur
								{% endif %}

							</a>
						</div>
					</div>

					<!-- SidebarSearch Form -->
					<div class="form-inline">
						<div class="input-group" data-widget="sidebar-search">
							<input class="form-control form-control-sidebar" type="search" placeholder="Rechercher" aria-label="Rechercher">
							<div class="input-group-append">
								<button class="btn btn-sidebar">
									<i class="fas fa-search fa-fw"></i>
								</button>
							</div>
						</div>
					</div>

					<!-- Sidebar Menu -->
					<nav class="mt-2" id="nav">
						<ul
							class="nav nav-pills nav-sidebar flex-column" data-widget="treeview" role="menu" data-accordion="false">
							<!-- Menu page de demarage avec condition  !-->
							<li class="nav-item">
								{% if app.request.uri  == 'https://127.0.0.1:8000/index' %}
									<a href="/index" class="nav-link active">
									{% else %}
										<a href="/index" class="nav-link">
										{% endif %}
										<i class="nav-icon fas fa-home"></i>
										<!--<i class="nav-icon fas fa-tachometer-alt"></i>-->
										<p>
											Accueil
											<i class="right fas fa-angle-left"></i>
										</p>
									</a>
									<ul class="nav nav-treeview">
										<li class="nav-item">
											<a href="./index.html" class="nav-link active">
												<i class="far 	fa-circle nav-icon"></i>
												<p>Analyse des problèmes</p>
											</a>
										</li>
										<li class="nav-item">
											<a href="./index2.html" class="nav-link">
												<i class="far fa-circle nav-icon"></i>
												<p>Prévisions / Gestion</p>
											</a>
										</li>

									</ul>
								</li>
							</li>
							<li class="nav-item">
								<a href="/calendar" class="nav-link">
									<i class="nav-icon far fa-calendar-alt"></i>
									<p>
										Planification
									</p>
								</a>
							</li>
							<!-- Menu utilisateur avec condition  !-->
							{% if is_granted('ROLE_ADMIN') %}
								<li class="nav-item">
									{% if app.request.uri  == 'https://127.0.0.1:8000/user/' %}
										<a href="https://127.0.0.1:8000/user" class="nav-link active">
										{% else %}
											<a href="https://127.0.0.1:8000/user" class="nav-link">
											{% endif %}
											<i class="nav-icon fas fa-users"></i>
											<p>
												Collaborateurs
											</p>
										</a>
									</li>
								{% endif %}
							</li>

							<li class="nav-item">
								<a href="/projet" class="nav-link">
									<i class="nav-icon fas fa-tasks"></i>
									<p>
										Projets
									</p>
								</a>
							</li>

							<li class="nav-item">
								<a href="/imputation" class="nav-link">
									<i class="nav-icon far fa-calendar-check"></i>
									<p>
										Pointage
									</p>
								</a>
							</li>
							<li class="nav-item">
								<a href="/contact" class="nav-link">
									<i class="nav-icon far fa-envelope-open"></i>
									<p>
										Contact
									</p>
								</a>
							</li>
						</li>
					</ul>
				</nav>
				<!-- /.sidebar-menu -->
			</div>
			<!-- /.sidebar -->

		</aside>
		{% block body %}{% endblock %}


		{% block javascripts %}
			<!-- jQuery -->
			<script src="{{asset ("assets/plugins/jquery/jquery.min.js")}}"></script>
			<!-- Bootstrap 4 -->
			<script src="{{asset ("assets/plugins/bootstrap/js/bootstrap.js")}}"></script>
			<!-- overlayScrollbars -->
			<script src="{{asset ("assets/plugins/overlayScrollbars/js/jquery.overlayScrollbars.min.js")}}"></script>
			<script src="{{asset ("assets/js/adminlte.js")}}"></script>
			<!-- OPTIONAL SCRIPTS -->
			<script src="{{asset ("assets/plugins/chart.js/Chart.min.js")}}"></script>
			<!-- AdminLTE dashboard demo (This is only for demo purposes) -->
			<script src="{{asset ("assets/js/pages/dashboard3.js")}}"></script>

		{% endblock %}
	</body>
</html>
