{% extends 'header.html.twig' %}
{% block body %}


	<!-- Content Wrapper. Contains page content -->
	<div
		class="content-wrapper">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0">
							Imputation
						</h1>
					</div>
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</div>
		<!-- /.content-header -->

		<!-- Main content -->
		<div class="col-lg-12">

			<div class="card card-primary card-outline cardT">
				<div class="card-header">
					<div class="rowT">
						<div class="col-sm-4">
							<div class="form-group">
								{% if app.user.roles == ["ROLE_USER"] %}

									<select class="form-control select2" id="name" style="width: 100%;" disabled>
										<option value='{{ app.user.id }}'>{{ app.user.username }}</option>
									</select>

								{% else %}

									<select class="form-control select2" id="name" style="width: 100%;">
										{% for user in users %}
											<option value='{{ user.id }}'>{{ user.username }}</option>
										{% endfor %}
									</select>
								{% endif %}

							</div>
						</div>
						<div class="col-sm-3">

							<div class="input-group">
								<input type="week" id="date-input" class="form-control" name="month"/>
							</div>
						</div>
						<div class="col-sm-2">
							<button type="button" id="btnRech" class="btn btn-block btn-info">Rechercher</button>
						</div>

						<div class="col-1">

							<button type="button" class="btn btn-outline-secondary btn-block" id="save">
								<i class="fa fa-save"></i>
							</button>
						</div>
						<div>
							<a href="{{ path('export') }}" class="btn btn-outline-secondary btn-block">CSV</a>

						</div>

					</div>

				</div>


				<div class="card">

					<div class="card-body p-0 table-responsive">
						<table class="table" id="firm_table">

							<!--	{% if app.session.flashBag.has('success') %}
																						<div class="alert alert-success">
																							{% for msg in app.session.flashBag.get('success') %}
																								{{ msg }}
																							{% endfor %}
																						</div>
																					{% endif %} -->

							<thead id="entete"></thead>
							<tbody id="tableB"></tbody>
							<tfoot id="footTable"></tfoot>
						</table>

					</div>
					
					<!--DEBUT du compteur-->
					{% for code_projet in code_projets %}
						{% set chargeATM = code_projet.chageJH %}
						{% set chargeNRJ = code_projet.chageNRJ %}
						{% set chargeDECO = code_projet.chageDECO %}

						{% for dateV in dateVs %}
							{% if code_projet.libelle == dateV.codeprojet.libelle %}
								{% set chargeATM = chargeATM - dateV.valeur %}
								{% if dateV.imput.user.projet.libelle == "NRJ" %}
									{% set chargeNRJ = chargeNRJ - dateV.valeur %}
								{% endif %}

								{% if dateV.imput.user.projet.libelle == "DECO" %}
									{% set chargeDECO = chargeDECO - dateV.valeur %}
								{% endif %}
							{% endif %}
						{% endfor %}
						<!--/////////////-->
					<!--{{ chargeATM }}-->
						<!--NRJ-->
						<!--{{ chargeNRJ }}-->
						<!--DECO-->
						<!--{{ chargeDECO }}-->
						<!--//////////////-->
					{% endfor %}
					<!--FIN du compteur-->

					<!--container-->
				</div>


			</div>
		</div>
		<!-- /.content -->
	</div><!-- /.content-wrapper --><!-- Main Footer -->{% endblock %}
