{% extends 'header.html.twig' %}
{% block body %}
	<div
		class="content-wrapper">
		<!-- Content Header (Page header) -->
		<div class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0">
							Imputation
						</h1>
					</div>
				</div>
				<!-- /.row -->
			</div>
			<!-- /.container-fluid -->
		</div>
		<!-- /.content-header -->
		<!-- /.content -->
		<div class="col-12">
			<div class="card card-primary">

				<div class="card-body">
					<div>
						<div class="btn-group w-100 mb-2">
							{% for user in users %}
								<a class="btn btn-info" href="javascript:void(0)" data-filter={{ user.id }}>
									{{ user.username }}
								</a>
							{% endfor %}
						</div>

					</div>
					<div class="filter-container p-0 row"></div>

				</div>
			</div>
		</div>
		<table class="table">
			<thead>
				<tr>
					<th>Name</th>
					<th>Tache</th>
					<th>Valeur</th>
					<th>Date</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for imput in imputs %}
					<tr>
						<td>{{ imput.user.username }}</td>
						<td>{{ imput.tache.libelle }}</td>
						<td>
							<a href="{{ path('imput_show', {'id': imput.id}) }}">show</a>
							<a href="{{ path('imput_edit', {'id': imput.id}) }}">edit</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="4">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>

		<a href="{{ path('imput_new') }}">Create new</a>
	</div>
{% endblock %}
