{{ form_start(form) }}
<!-- Main content -->
<section class="content">
	<div class="container-fluid">
		<div
			class="row">
			<!-- left column -->
			<div
				class="col-md-12">
				<!-- general form elements -->
				<div class="card card-primary">


					<!-- /.card-header -->
					<!-- form start -->
						<form>
							<div class="card-body"> <div class="form-group">
								<label for="{{form.email.vars.id}}">Adresse E-mail</label>
								{{form_widget( form.email)}}
								{% do form.email.setRendered %}
							</div>
							<div class="form-group">
								<label for="{{form.username.vars.id}}">Nom d'utilisateur</label>
								{{form_widget( form.username)}}
								{% do form.username.setRendered %}
							</div>
							<div class="form-group">
								<label for="{{form.password.vars.id}}">Mot de passe</label>
								{{form_widget( form.password)}}
								{% do form.password.setRendered %}
							</div>
							<div class="form-group">
								<label for="{{form.roles.vars.id}}">Rôle</label>
								{{form_widget( form.roles)}}
								{% do form.roles.setRendered %}
							</div>

						</div>
						<!-- /.card-body -->

						<div class="card-footer">

							<button type="submit" class="btn btn-success swalDefaultSuccess">{{ button_label|default('Ajouter') }}</button>
						</div>
					</form>
				</div>
				{{ form_end(form) }}
