{{ form_start(form) }}
<!-- Main content -->
<section
	class="content">

	<!--{{ dump(form.children.image.vars) }}-->

	<style>
		.row {
			display: flex;
		}
		.col {
			flex: 1;
		}
	</style>
	<div class="container-fluid">
		<div
			class="row">
			<!-- left column -->
			<div
				class="col-md-12">
				<!-- general form elements -->
				<div class="card card-primary">


					<!-- /.card-header -->
					<!-- form start -->
						<form>
							<div class="card-body"> <div class="form-group">
								<label for="{{form.roles.vars.id}}">Rôle</label>
								{{form_widget( form.roles)}}
								{% do form.roles.setRendered %}
							</div>
							<div class="form-group">
								<label for="{{form.email.vars.id}}">Adresse E-mail</label>
								{{form_widget( form.email)}}
								{{form_errors(form.email)}}
								{% do form.email.setRendered %}
							</div>
							<div class="form-group">
								<label for="{{form.username.vars.id}}">Nom du collaborateur</label>
								{{form_widget( form.username)}}
								{% do form.username.setRendered %}
							</div>
							<div class="form-group">
								<label for="{{form.site.vars.id}}">Site</label>
								{{form_widget( form.site)}}
								{% do form.site.setRendered %}
							</div>
							<div class="form-group">
								<label for="{{form.salaire.vars.id}}">Salaire</label>
								{{form_widget( form.salaire)}}
								{% do form.salaire.setRendered %}
							</div>
							<div class="row">
								<div class="col">
									<label for="{{form.projet.vars.id}}">Département</label>
									{{form_widget( form.projet)}}
									{% do form.projet.setRendered %}</div>
								<div class="col">
									<label for="{{form.poste.vars.id}}">Poste</label>
									{{form_widget( form.poste)}}
									{% do form.poste.setRendered %}</div>
							</div>
							<div
								class="form-group">
								<!--<label for="{{form.password.vars.id}}">Mot de passe</label>-->
								{{form_widget( form.password)}}
								{% do form.password.setRendered %}
							</div>
							<div>
								<label for="{{form.image.vars.id}}">Sélectionner une photo</label>
							</div>
							<div class="form-group">
								<input
								type="file" id="{{form.image.vars.id}}" name="{{form.image.vars.full_name}}" accept="image/*">
								<!--{{form_widget( form.image)}}-->
								{% do form.image.setRendered %}
							</div>

						</div>
						<!-- /.card-body -->

						<div class=" card-footer">

							<button type="submit" class="btn btn-success swalDefaultSuccess">{{ button_label|default('Ajouter') }}</button>

						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
	{{ form_end(form) }}
