{% extends 'header.html.twig' %}
{% block javascripts %}
	<script src="{{asset ("assets/js/bootstrap.js")}}"></script>
	<script src="{{asset ("/assets/js/datatable/jquery.min.js")}}"></script>
	<script src="{{asset ("/assets/js/datatable/jquery.dataTables.min.js")}}"></script>

	<link rel="stylesheet" href="{{asset ("/assets/css/datatable/buttons.bootstrap4.min.css")}}">
	<link rel="stylesheet" href="{{asset ("/assets/css/datatable/dataTables.bootstrap4.min.css")}}">
	<link rel="stylesheet" href="{{asset ("/assets/css/datatable/responsive.bootstrap4.min.css")}}">


	<script src="{{asset ("/assets/js/datatable/buttons.bootstrap4.min.js")}}"></script>
	<script src="{{asset ("/assets/js/datatable/buttons.colVis.min.js")}}"></script>
	<script src="{{asset ("/assets/js/datatable/buttons.html5.min.js")}}"></script>
	<script src="{{asset ("/assets/js/datatable/buttons.print.min.js")}}"></script>
	<script src="{{asset ("/assets/js/datatable/dataTables.bootstrap4.min.js")}}"></script>
	<script src="{{asset ("/assets/js/datatable/dataTables.buttons.min.js")}}"></script>
	<script src="{{asset ("/assets/js/datatable/dataTables.responsive.min.js")}}"></script>

	<script src="{{asset ("/assets/js/datatable/jszip.min.js")}}"></script>
	<script src="{{asset ("/assets/js/datatable/pdfmake.min.js")}}"></script>
	<script src="{{asset ("/assets/js/datatable/responsive.bootstrap4.min.js")}}"></script>
	<script src="{{asset ("/assets/js/datatable/vfs_fonts.js")}}"></script>

	<script>
		$(function () {
$("#example1").DataTable({
"responsive": true,
"lengthChange": false,
"autoWidth": false,
"buttons": [
"copy",
"csv",
"excel",
"pdf",
"print",
"colvis"
]
}).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
});
	</script>

{% endblock %}
{% block body %}

	<!-- Content Wrapper. Contains page content -->
	<div
		class="content-wrapper">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1>Liste des utilisateurs</h1>
					</div>
					<div class="col-sm-6">
						<ol class="breadcrumb float-sm-right">
							<li class="breadcrumb-item">
								<a href="/index">Accueil</a>
							</li>
							<li class="breadcrumb-item active">utilisateurs</li>
						</ol>
					</div>
				</div>
			</div>
			<!-- /.container-fluid -->
		</section>

		<!-- Main content -->
		<section
			class="content">

			<!-- Default box -->
			<div class="card">
				<div class="card-header">
					<h3 class="card-title">
						<a class="btn btn-primary btn-sm" href="{{ path('user_new') }}">Create new>
						</a>
					</h3>
				</div>
				<!-- /.card-header -->
				<div class="card-body">
					<table id="example1" class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>Numéro</th>
								<th>Email</th>
								<th>Nom d'utilisateur</th>
								<th>Role</th>
								<th>Modifier</th>
							</tr>
						</thead>
						<tbody>
							{% for user in users %}
								<tr>
									<td>
										{% set number = ( number | default(0) ) + 1 %}
										<p>{{ number }}</p>

									</td>
									<td>
										{{ user.email }}
									</td>
									<td>
										{{ user.username }}
									</td>
									<td>
										{{ user.roles ? user.roles|json_encode : '' }}
									</td>
									<td class="project-actions text-right">
										<a class="btn btn-primary btn-sm" href="{{ path('user_show', {'id': user.id}) }}">
											<i class="fas fa-folder"></i>
											Consulter
										</a>
										<a class="btn btn-info btn-sm" href="{{ path('user_edit', {'id': user.id}) }}">
											<i class="fas fa-pencil-alt"></i>
											Modifier
										</a>
									</td>


								</tr>

							{% else %}
								<tr>
									<td colspan="6">Aucun utilisateur trouvé</td>
								</tr>
							{% endfor %}

						</tbody>
					</table>
				</div>
				<!-- /.card-body -->
			</div>

		</div>
		<!-- /.card-body -->
	</div>
	<!-- /.card -->

</section>
<!-- /.content --></div><!-- /.content-wrapper --><footer class="main-footer">
<div class="float-right d-none d-sm-block">
	<b>Version</b>
	3.1.0-rc
</div>
<strong>Copyright &copy; 2014-2021
	<a href="https://adminlte.io">AdminLTE.io</a>.</strong>
All rights reserved.</footer><!-- Control Sidebar --><aside class="control-sidebar control-sidebar-dark"><!-- Control sidebar content goes here --></aside><!-- /.control-sidebar --></div>{% endblock %}
