{% extends 'header.html.twig' %}
{% block body %}
	<!-- Content Wrapper. Contains page content -->
	<div
		class="content-wrapper">
		<!-- Content Header (Page header) -->
		<section class="content-header">
			<div class="container-fluid">
				<div class="row mb-2">
					<div class="col-sm-6">
						<h1 class="m-0" style="font-size:19px">Liste des collaborateurs</h1>
					</div>

				</div>

			</div>

			<!-- /.container-fluid -->
		</section>
		<!-- Main content -->
		<section
			class="content">

			<!-- Default box -->
			<div
				class="card">

				<!-- /.card-header -->
				<div class="card-body">
					{% if is_granted('ROLE_ADMIN') %}
						<div style="float:right;">
							<a class="btn btn-primary btn-sm" href="{{ path('user_new') }}">Ajouter un nouveau collaborateur</a>
						</div>
					{% endif %}
					<table id="example1" class="table table-bordered table-striped">
						<thead>
							<tr>
								<th>N°</th>
								<th>Adresse E-mail</th>
								<th>Nom du collaborateur</th>
								<th>Projet</th>
								<th>Poste</th>
								<th>Rôle</th>
								<th>Actions</th>
							</tr>
						</thead>
						<tbody>
							{% for user in users %}
								<tr>
									<td>
										{% set number = ( number | default(0) ) + 1 %}
										<p>{{ number }}
										</p>
									</td>
									<td>
										<img src="{{asset ('/uploads/' ~ user.image.name)}}" class="img-circle elevation-2" alt="Image" width="30">&nbsp;
										{{ user.email }}
									</td>
									<td>
										{{ user.username }}
									</td>
									<td>
										{{ user.projet.libelle }}

									</td>
									<td>
										{{ user.poste }}

									</td>
									<td>
										{% if user.roles  == ["ROLE_USER"]%}
											Collaborateurs
										{% else %}

											Administrateur
										{% endif %}
									</td>
									<td class="project-actions text-right">
										<!--<a class="btn btn-primary btn-sm" href="{{ path('user_show', {'id': user.id}) }}">-->
										<!--<i class="fas fa-eye"></i></a>-->
											{% if is_granted('ROLE_ADMIN') %}
												<a class="btn btn-info btn-sm" href="{{ path('user_edit', {'id': user.id}) }}"> <i class="fas fa-pencil-alt"></i>

											</a>
											<a class="btn">
												{{ include('user/_delete_form.html.twig') }}
											</a>
										{% else %}

											<a class="btn">
												<i class="fas fa-lock"></i>
											</a>
										{% endif %}
									</td>
								</tr>
						{% else %}
							</td>
						</tbody>
					</tr>
					<tr>
						<td colspan="6">Aucun collaborateur trouvé</td>
					</tr>
				{% endfor %}

			</tbody>
		</table>
	</div>
	<!-- /.card-body -->
</div></div><!-- /.card-body --></div><!-- /.card --></section>{% endblock %}
